<html>
<head>
<%= stylesheet_link_tag 'style' %>
<script src="<%= PUSHER_JS_DOMAIN %>/1.6/pusher.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/javascripts/application.js"></script>
<script>
  Pusher.host = '<%= PUSHER_SOCKET_HOST %>';

  var me = '<%= session[:session_id] %>'
  var socket = new Pusher('<%= Pusher.key %>');

  socket.bind('connection_established', function(evt){
    jQuery.ajaxSetup({
      data: {
        socket_id: evt.socket_id
      }
    })
  });
</script>
</head>
<body>
  <%= yield %>
</body>
</html>