<html>
<head>
<%= stylesheet_link_tag 'style' %>
<script src="<%= PUSHER_JS_DOMAIN %>/1.9.0-pre/pusher.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="/javascripts/application.js"></script>
<script>
  Pusher.host = '<%= PUSHER_SOCKET_HOST %>';
  Pusher.ws_port = <%= PUSHER_WS_PORT %>;

  var me = '<%= session[:session_id] %>'
  var socket = new Pusher('<%= Pusher.key %>');
</script>
</head>
<body>
  <%= yield %>
</body>
</html>
