<!DOCTYPE html>
<html>
<head>
  <title>Pusher presence demo</title>
  <%= stylesheet_link_tag "application" %>

<% if @use_local_js %>
  <script src="http://localhost:5555/pusher.js"></script>
<% else %>
  <script src="<%= PUSHER_JS_DOMAIN %>/1.12.0/pusher.min.js"></script>
<% end %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
<script>
  Pusher.host = '<%= PUSHER_SOCKET_HOST %>';
  Pusher.ws_port = <%= PUSHER_WS_PORT %>;

  var socket = new Pusher('<%= Pusher.key %>');
</script>
</head>
<body>
  <%= yield %>
</body>
</html>
